#################################################
# Python
#################################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

env/
venv/
.venv/

#################################################
# Logs
#################################################

*.log

flight_prediction/spark.log
kafka_2.13-4.2.0/kafka.log

#################################################
# Scala / SBT
#################################################

flight_prediction/target/
flight_prediction/project/target/

#################################################
# Spark descargado
#################################################

spark-4.1.1-bin-hadoop3/
spark-4.1.1-bin-hadoop3.tgz

#################################################
# Kafka descargado
#################################################

kafka_2.13-4.2.0/
kafka_2.13-4.2.0.tgz

#################################################
# Minikube / Kubernetes temporales
#################################################

.metadata/
metadata/

#################################################
# Archivos de estado generados por scripts
#################################################

.cassandra_ready
.iceberg_ready

resources/airflow/.models_lakehouse_ready

#################################################
# IDEs
#################################################

.vscode/
.idea/

#################################################
# Sistema operativo
#################################################

.DS_Store
Thumbs.db

#################################################
# Entregas generadas
#################################################

*.zip

#################################################
# Docker temporales
#################################################

docker-compose.override.yml