# Python
env/
__pycache__/
*.pyc

# Spark
flight_prediction/target/

# Logs
*.log

# Kafka descargado
kafka_2.13-4.2.0/
kafka_2.13-4.2.0.tgz

# Spark descargado
spark-4.1.1-bin-hadoop3/
spark-4.1.1-bin-hadoop3.tgz

# IDE
.idea/
.vscode/

# Minikube
.metadata/

# OS
.DS_Store
